[Unit]
Description=tgbot
After=network.target

[Service]
Type=simple
User=root
Group=root

Environment=PYTHONPATH=/root/tgbot
WorkingDirectory=/root/tgbot
ExecStart=/usr/bin/python3 /root/tgbot/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=network.target
